<input type="checkbox" class="comment-checkbox-open" name="" id="comment-checkbox-open" style="display: none;">
<div class="cmt-container">
    <ul class="cmt-header">
        <li class="cmt-header-ele" onclick="hideCmtModel()">
            <i class="ri-arrow-left-line"></i>
        </li>
        <li class="title-primary cmt-header-ele">
            comment
        </li>
        <li class="cmt-header-ele">
            <i class="ri-share-line"></i>
        </li>
    </ul>
    <div class="cmt-input">
        <div class="cmt-user-image">
            <img src="/images/vangoghmuseum-s0071V1962v-800.jpg" alt="">
        </div>
        <div class="input">
            <input name="cmt" placeholder="Add a comment ..." type="text">
            <div class="send-btn">send</div>
        </div>
    </div>
    <ul class="cmt-list">
        <li class="cmt-ele">

        </li>
    </ul>
</div>