<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/createProfile.css">
    <link rel="stylesheet" href="/stylesheet/app.css">

</head>

<body>

    <div>
        <form class="form">
            <h3>User</h3>
            <div >
                <input type="text" placeholder="First Name">
            </div>
            <div >
                <input type="text" placeholder="Last Name">
            </div>
            <div >
                <input type="date" placeholder="Day of birth">
            </div>
            
        </form>

    </div>
   
    <footer class="footer">
        <ul class="footer-list">
            <li class="footer-ele"><a href="../index.html" id="index-page" class="footer-link">
                    <i class="ri-home-line"></i>
                    <!--            <i class="ri-home-fill"></i>-->
                </a></li>
            <li class="footer-ele"><a href="" class="footer-link">
                    <i class="ri-search-line"></i>
                    <!--            <i class="ri-search-fill"></i>-->
                </a></li>
            <li class="footer-ele"><a href="./add-image.html" class="footer-link">
                    <i class="ri-image-add-line"></i>
                    <!--            <i class="ri-image-add-fill"></i>-->
                </a></li>
            <li class="footer-ele"><a href="./notifications.html" class="footer-link">
                    <i class="ri-notification-line"></i>
                    <!--            <i class="ri-notification-fill"></i>-->
                </a></li>
            <li class="footer-ele"><a href="./profile.html" class="footer-link">
                    <img src="/images/vangoghmuseum-s0071V1962v-800.jpg" id="user-image" alt="">
                </a></li>
        </ul>
    </footer>
</body>

</html>