<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Notifications</title>
        <link
            href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css"
            rel="stylesheet">

        <link rel="stylesheet" href="/stylesheet/app.scss">
        <link rel="stylesheet" href="/stylesheet/notifications.css">
        <link rel="stylesheet" href="/stylesheet/app.css">
    </head>

    <body>

                <!--main-->
                <main class="main" id="index">
                    <div class="notification-container notify-container">
                        <ul class="cmt-header">
                            <li class="cmt-header-ele notify-header-ele">
                                <i class="ri-arrow-left-line"></i>
                            </li>
                            <li class="title-primary cmt-header-ele notify-header-title">
                                Activity
                            </li>
                        </ul>
                     
                            <div class="notify">
                                <p><small class="name-user">khanhlinh_ntkl</small>
                                    like your photo.</p>
                            </div>
                            <div class="notify">
                                <p><small class="name-user">phamlethanhvu</small>
                                    like your photo.</p>
                            </div>
                            <div class="notify">
                                <p><small class="name-user">hothinguyet</small>
                                    like your photo.</p>
                                </div>

                    <!--footer-->
                    <footer class="footer">
                        <ul class="footer-list">
                            <li class="footer-ele"><a href="../index.html" id="index-page" class="footer-link">
                                    <i class="ri-home-line"></i>
                                    <!--            <i class="ri-home-fill"></i>-->
                                </a></li>
                            <li class="footer-ele"><a href="" class="footer-link">
                                    <i class="ri-search-line"></i>
                                    <!--            <i class="ri-search-fill"></i>-->
                                </a></li>
                            <li class="footer-ele"><a href="./add-image.html" class="footer-link">
                                    <i class="ri-image-add-line"></i>
                                    <!--            <i class="ri-image-add-fill"></i>-->
                                </a></li>
                            <li class="footer-ele"><a href="./notifications.html" class="footer-link">
                                    <i class="ri-notification-line"></i>
                                    <!--            <i class="ri-notification-fill"></i>-->
                                </a></li>
                            <li class="footer-ele"><a href="./profile.html" class="footer-link">
                                    <img src="/images/vangoghmuseum-s0071V1962v-800.jpg" id="user-image" alt="">
                                </a></li>
                        </ul>
                    </footer>

                </body>
            </html>
        </body>

    </html>