<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="/js/index.js"></script>
    <link rel="stylesheet" href="/stylesheet/app.css">
    <link rel="stylesheet" href="/stylesheet/profile.css">
</head>
<body>

    <section class="profile">
        <div class="profile-info">
            <div class="avatar">
                <img class="avatar-img" src="/images/vangoghmuseum-s0071V1962v-800.jpg" alt="">
            </div>
            <div class="profile-name">
                dl_thien
            </div>
        </div>
        <div>
            <ul class="nav-bar">
                <li>Post</li>
                <li>Follower</li>
                <li>Following</li>
            </ul>
        </div>
        <div>
            <ul class="profile-tag">
                <li class="profile-tag-ele">
                    <a href="" class="profile-tag-link">
                        <i class="ri-grid-line" ></i>
                    </a>
                </li>
                <li>
                    <a href="" class="profile-tag-link">
                        <i class="ri-video-line"></i>
                    </a>
                </li>
                <li>
                    <a href="" class="profile-tag-link">
                        <i class="ri-account-pin-box-line"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="user-images">
            <img src="/images/vangoghmuseum-s0071V1962v-800.jpg" alt="" class="user-img">
            <img src="/images/vangoghmuseum-s0071V1962v-800.jpg" alt="" class="user-img">
            <img src="/images/vangoghmuseum-s0071V1962v-800.jpg" alt="" class="user-img">
            <img src="/images/vangoghmuseum-s0071V1962v-800.jpg" alt="" class="user-img">
            <img src="/images/vangoghmuseum-s0071V1962v-800.jpg" alt="" class="user-img">
            <img src="/images/vangoghmuseum-s0071V1962v-800.jpg" alt="" class="user-img">
        </div>
    </section>

    <footer class="footer">
        <ul class="footer-list">
            <li class="footer-ele"><a href="../index.html" id="index-page" class="footer-link">
                    <i class="ri-home-line"></i>
                    <!--            <i class="ri-home-fill"></i>-->
                </a></li>
            <li class="footer-ele"><a href="" class="footer-link">
                    <i class="ri-search-line"></i>
                    <!--            <i class="ri-search-fill"></i>-->
                </a></li>
            <li class="footer-ele"><a href="./add-image.html" class="footer-link">
                    <i class="ri-image-add-line"></i>
                    <!--            <i class="ri-image-add-fill"></i>-->
                </a></li>
            <li class="footer-ele"><a href="./notifications.html" class="footer-link">
                    <i class="ri-notification-line"></i>
                    <!--            <i class="ri-notification-fill"></i>-->
                </a></li>
            <li class="footer-ele"><a href="./profile.html" class="footer-link">
                    <img src="/images/vangoghmuseum-s0071V1962v-800.jpg" id="user-image" alt="">
                </a></li>
        </ul>
    </footer>

</body>
</html>